<meta charset="utf-8">
<title>Capriccioso</title>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<link rel="stylesheet" href="application.css">
<script src="js/app.js"></script>
<script src="js/capricciosoController.js"></script>
<script src="js/pointsFactory.js"></script>
<script src="js/timerFactory.js"></script>
<script src="js/answersFactory.js"></script>
<script src="js/notesFactory.js"></script>
<script src="js/leaderboardDirective.js"></script>
<script src="js/midi.js"></script>
<script src="js/midi/audioDetect.js"></script>
<script src="js/midi/plugin.webmidi.js"></script>
<script src="js/midi/plugin.webaudio.js"></script>
<script src="js/midi/loader.js"></script>
<script src="js/midi/dom_request_xhr.js"></script>
<script src="js/midi/gm.js"></script>
<script src="js/midi/Base64Binary.js"></script>
