<% if (user) {%>
  <span id=logged-in-username><em><strong><%= user %></em></strong></span>
  <a id=logout-btn class="ph-button ph-btn-index" href="/logout">Log out</a>
<% } %>
<h1>Capriccioso</h1>
<h3>Whimsical and fanciful in character.</h3>
