<!DOCTYPE html>
<html>
<head>
    <% include ../views/partials/head %>
</head>

<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <main>
		<a class="ph-button ph-btn-index" href="/register">Register</a>
    <a class="ph-button ph-btn-index" href="/login">Login</a>
  </main>
</body>
</html>
