<!doctype html>
<html lang="en" ng-app="Capriccioso">

<head>
  <% include ../views/partials/head %>
</head>

<body ng-controller="LeaderController as leaderCtrl">
  <header>
    <% include ../views/partials/header %>
  </header>

  <main>



    <table align="center">

      <h2>Leaderboard</h2>
      <br>
      
      <tr>
        <th>Rank</th>
        <th>Score</th>
        <th>Username</th>
      </tr>
      <tr>
        <td>1</td>
        <td ng-bind="user.username"></td>
        <td ng-bind="user.score"></td>
      </tr>
      <tr>
        <td>2</td>
        <td ng-bind="user.username"></td>
        <td ng-bind="user.score"></td>
      </tr>
      <tr>
        <td>3</td>
        <td ng-bind="user.username"></td>
        <td ng-bind="user.score"></td>
      </tr>
    </table>






  </main>
</body>

</html>
