<!doctype html>
<html lang="en" ng-app="Capriccioso">
<head>
  <% include ../views/partials/head %>
</head>
<body ng-controller="CapricciosoController as capriCtrl">
  <header>
    <% include ../views/partials/header %>
  </header>
    <div id="end_of_round"  ng-show="timerFactory.hasFinished">
      <p>Time up! You scored: <span ng-bind="pointsFactory.pointsTotal"></span> points.</p>
      <a id="leaderboard_link"
          class="ph-button"
          ng-click="capriCtrl.storeScore()"
          ng-hide="capriCtrl.showLeaderboard">Take me to the leaderboard</a>
    </div>
    <div ng-show="capriCtrl.showLeaderboard">
      <capriccioso-leaderboard></capriccioso-leaderboard>
    </div>
    <main ng-show="!timerFactory.hasFinished">
    <table id="points_and_time">
      <tr>
        <td>
          Points:
          <span ng-bind="pointsFactory.pointsTotal"></span>
        </td>
        <td>
          Time:
          <span ng-bind="timerFactory.timeLeft"></span>
        </td>
      </tr>
    </table>
    <a ng-click="capriCtrl.playNotes()" title="Play" class="play"></a>
    <div class="ph-container1">
      <div class="ph-float">
        <a class='ph-button ph-btn-1'
        ng-click="capriCtrl.clickAnswer(0)"
        ng-class="{correct:capriCtrl.isButtonCorrect(0),
                       incorrect:capriCtrl.isButtonIncorrect(0)}">
          <span ng-bind="capriCtrl.multipleChoice[0]"></span>
        </a>
      </div>
      <div class="ph-float">
        <a class='ph-button ph-btn-2'
        ng-click="capriCtrl.clickAnswer(1)"
        ng-class="{correct:capriCtrl.isButtonCorrect(1),
                       incorrect:capriCtrl.isButtonIncorrect(1)}">
          <span ng-bind="capriCtrl.multipleChoice[1]"></span>
        </a>
      </div>
    </div>
    <div class="ph-container2">
      <div class="ph-float">
        <a class='ph-button ph-btn-3'
        ng-click="capriCtrl.clickAnswer(2)"
        ng-class="{correct:capriCtrl.isButtonCorrect(2),
                       incorrect:capriCtrl.isButtonIncorrect(2)}">
          <span ng-bind="capriCtrl.multipleChoice[2]"></span>
        </a>
      </div>
      <div class="ph-float">
        <a class='ph-button ph-btn-4'
        ng-click="capriCtrl.clickAnswer(3)"
        ng-class="{correct:capriCtrl.isButtonCorrect(3),
                       incorrect:capriCtrl.isButtonIncorrect(3)}">
          <span ng-bind="capriCtrl.multipleChoice[3]"></span>
        </a>
      </div>
    </div>
    <div class="ph-clear"></div>
    <div id="answer_container"> </div>
  </main>
</body>
</html>
